

span.price{
	color:red;
	text-decoration: line-through;
	font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.saleprice{
	
	text-decoration:underline;
	color: RoyalBlue;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: LightGray;
    color: DarkSlateGray;
    font-family: Arial, sans-serif;
}


header {
    background-color: RoyalBlue;
    color: White;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    
    color: White;
    font-weight: bold;
}


#products {
    padding: 20px;
}

#saleproducts {
    background-color: White;
    border: 1px solid LightGray;
    padding: 20px;
    margin-bottom: 20px;
    float: center; 
    /*width: calc(33.33% - 20px); */
    clear: none; 
}

#saleproducts img {
    max-width: 100%;
}

#saleproducts h3 {
    font-size: 20px;
    margin-top: 10px;
}

#saleproducts p {
    margin-top: 10px;
}

.price {
    color: RoyalBlue;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#saleproducts button {
    background-color: RoyalBlue;
    color: White;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}


#about, #contact {
    background-color: White;
    padding: 20px;
    margin-top: 20px;
}

div.about li, ol{
	color: DarkSlateGray;
    font-family: Arial, sans-serif;
	padding:4px;

}

footer {
    background-color: DimGray;
    color: White;
    text-align: center;
    padding: 10px;
}

div.about table, th, td {
  border:1px solid black;
}